.textareas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.textarea {
    border-radius: 4px;
    border: none;
    background-color: #1a1a1a;
    padding: 0.8vw;
    box-sizing: border-box;
    resize: none;
    width: 20vw;
    height: 5vh;
}

.textarea:focus {
    outline: none;
}

.textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1a1a1a inset;
    -webkit-text-fill-color: white;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.cont {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 15vh;
}

h5 {
    margin: 0;
}

a {
    margin: 0;
}

.error {
    position: absolute;
    bottom: 18vh;
}