.note {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 180ms ease;
  transform-origin: right bottom;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 180ms ease;
  transform-origin: right bottom;
}




.plantNote {
  background-image: none;
}

.plantNote::before {
  content: "";
  position: absolute;
  inset: -10px;
  z-index: -1;
  background-image: var(--note-image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: none;
  transition: filter 1ms ease;
  pointer-events: none;
}

.plantNote:hover {
  transform: translateY(-0.5px) rotate(0.5deg);
  .cardInner {
    background-color: rgba(229, 231, 235, 0.6);
  }
}

.cardInner {
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.emptyCardInner {
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}


.note:hover {
  z-index: 0;
  transform: translateY(-0.5px) rotate(0.5deg);
}

.line {
  width: 96%;
  height: 1px;
  margin: 0;
  background-color: #e6dece;
  flex-shrink: 0;
  z-index: 100;
}

.main {
  border-radius: 10px;
  background-color: #fdf9f2;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.notesRow {
  padding: 0.1vw;
  border-radius: 10px;
  background-color: #FAFAFA;
  display: flex;
}

.rowWrapper {
  display: flex;
  border-radius: 10px;
}

.wrapForCards {
  display: flex;
  flex-direction: row;
}

.mainWrapper {
  border: solid 0.5px #eadfcd;
  padding: 1vw;
  border-radius: 10px;
  background-color: #FFFAF3;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.mainGrid {
  display: grid;
  grid-template-columns: 15.6dvw 49.6dvw 32.6dvw;
  gap: 0.3dvw;
  min-height: calc(100vh - 1.6dvw);
  margin: 0.8dvw;
}

.navSection {
  gap:  2vh;
  padding: 1dvw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: solid 0.5px #eadfcd;
  background-color: #FFFAF3;
}

.rightSection {
  border-radius: 10px;
  border: solid 0.5px #eadfcd;
  background-color: #FFFAF3;
}

.navBtn {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 5dvh;
}

.navBtn:hover {
  background-color: #E9EFD0;
}

.navBtnsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}