.mascot {
  background-image: var(--note-image);
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 180ms ease;
  transform-origin: right bottom;
}

.logo {
  background-image: var(--note-image);
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 180ms ease;
  transform-origin: right bottom;
}

.mainGrid {
    display: grid;
    grid-template-rows: calc(55dvh - 0.8dvw - 0.5dvh) calc(30dvh - 0.8dvw - 0.5dvh) 15dvh;
    margin: 0.8dvw;
    gap: 0.5dvh;
    width: calc(100dvw - 1.6dvw);
}

.top {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75dvw;
}

.btn {
  height: 100%;
  border: solid 0.5px #eadfcd;
}

.btn:hover {
  border: solid 0.5px #eadfcd;
}

.middle {
  background-color: #FEFAF5;
  border-radius: 10px;
}

.bot {
  background-color: #FEFAF5;
  border-radius: 10px;
}

.topBot {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 65%;
}